---
title: "Research"
layout: archive
author_profile: true
permalink: /research/
---

<div class="archive">
<h2 class="page__tittle">Current Projects</h2>
<div class="grid__wrapper">
  {% for post in site.current_project %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
</div>

<hr>

<div class="archive">
<h2 class="page__tittle">Previous Projects</h2>
<div class="grid__wrapper">
  {% for post in site.previous_project %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
</div>

